<div class="banner-border">
           <div id="slides">

	       <div class="slides_container">
			<a href="#"><%= image_tag "pics01.jpg" %></a>
			<a href="#"><%= image_tag "pics02.jpg" %></a>
          </div>
         </div>
		</div>