<div class="banner-border">
           <div id="slides">

	       <div class="slides_container">
	   
          <% @galleries.each do |g| %>

                <%= link_to root_path do %>
                    <%= image_tag(g.foto.url(:small)) %>
                 <% end %>

          <% end %>


         
          </div>
         </div>
		</div>
