<section>
<div class="sbox1">
<h2>Menu opções</h2>
<ul class="style1">
	<% if @categories.present? %>
	<% @categories.each  do |c| %>

	
<li class="first">
	<%= link_to_unless_current c.name, posts_path(:category_id => c.id) %>


</li>

<% end %>
<% end %>
</ul>

</div>
</section>
<section>
<div class="sbox1">
<h2>Dicas de sites</h2>
<ul class="style1">
	<% if @categories.present? %>
	<% @categories.each  do |c| %>

	
<li class="first">
	<%= link_to_unless_current c.name, posts_path(:category_id => c.id) %>


</li>

<% end %>
<% end %>
</ul>

</div>
</section>
<section>
<div class="sbox1">
<h2>Dicas de videos</h2>
<ul class="style1">
	<% if @categories.present? %>
	<% @categories.each  do |c| %>

	
<li class="first">
	<%= link_to_unless_current c.name, posts_path(:category_id => c.id) %>


</li>

<% end %>
<% end %>
</ul>

</div>
</section>