  <div id="featured_intro">
    <div>
    	<h2>Um pouco mas sobre a Erlon Carlos</h2>
    	<h3>Área de Atuação: Desenvolvedor para Web </h3>
      <p>WebMaster e trabalho como freelance com projetos voltado para Web, onde já tenho alguns projetos funcional e profissional</p>
      <h2>Formação Acadêmica</h2>
      <P>
Graduação – Web Designer e Programação - completo-Unisul (2007) – conclusão 06/2010. <br>
Pós-Graduação - Estudante de Especialização em Engenharia de Software com Ênfase em Padrões de Software. – iniciado (2011) – conclusão (2012). 
      </P>

      <h2>Conhecimentos</h2>
      <p>

    Programação POO<br>
    Hibernate<br>
    JSF<br>
    Layout Css<br>
    Diagrama de Class-UML<br>
    Ruby on Rails<br>
    GitHub<br>
    Mysql,
    Sql Server<br>
    Xhtml, Html</p>

    <h2>Uma agência que se preocupa com o cliente</h2>

<p>Erlon Carlos é um profissional diferente, temos a responsabilidade e comprometimento com o sucesso do seu negócio, não importando se é um negócio de pequeno porte, um site insitucional local ou uma loja virtual de grande porte, sempre buscamos oferecer aos nossos clientes as melhores soluções disponíveis no mercado.
</p>
<h2>
Venha fazer parte de nossos cases de sucesso, tenha sua empresa na web e aumente seus lucros agora mesmo!</h2>

<h2>A equipe</h2>
<p>
Nossa equipe é formada por profissionais experientes e altamente qualificados, que irão atender todas as necessidades de seu negócio, desde o atendimento personalizado até o pós-venda.
</p>
<p> <%= link_to root_path do %>
    Inicio
    <% end %></p>
    </div>
  </div>


 

