@import url(http://fonts.googleapis.com/css?family=Abel|Satisfy);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script|Archivo+Narrow);

/*
	Synchronous: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
*/



html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #DEDEDE url(img01.png) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #8A8A8A;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

p {
	line-height: 180%;
}

a {
	color: #D1551F;
	text-decoration: none;
}

strong {
	font-weight: 700;
	color: #2A2A2A;
}

/* Copyright */

#copyright {
	overflow: hidden;
	padding: 50px 0px;
	border-top: 1px solid #E8E8E3;
}

#copyright p {
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 11pt;
	color: #999999;
}

#copyright a {
	color: #858585;
	text-decoration: none;
}

#copyright a:hover {
	text-decoration: none;
	color:  #FF4500;
}

/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

ul.style1 li {
	padding: 5px 0px 10px 0px;
	border-top: px solid #E6E6E6;
	line-height: 160%;
}

ul.style1 a {
	display: block;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover {
	text-decoration: none;
	color:  #FF4500;
}

ul.style1 .first {
	border-top: none;
	padding-top: 0px;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 20px 0px 25px 0px;
	
}

ul.style3 a {
	display: block;
	text-decoration: none;
	color: #525252;
}

ul.style3 a:hover {
	text-decoration: none;
	color:  #FF4500;
}

ul.style3 .date {
	width: 100px;
	margin: 0px 0px 20px 0px;
	padding: 7px 0px 7px 0px;
	background: #FF4500;
	border-radius: 5px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #8A8B71;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

ul.style3 .date b {
}

ul.style3 .date a {
	color: #FFFFFF;
}

ul.style3 .date a:hover {
	text-decoration: none;
}

ul.style3 .first {
	padding-top: 0px;
	border-top: none;
}

/** BUTTON STYLE */

.button-style {
	margin: 05px 0px 05px 0px;
}

.button-style a {
	padding: 7px 20px 7px 20px;
	background: #FF4500;
	border-radius: 5px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px #8A8B71;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

.button-erlon {
	margin: 05px 0px 05px 0px;
}

.button-erlon {
	padding: 7px 20px 7px 20px;
	background: #FF4500;
	border-radius: 5px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px #8A8B71;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
.alert_secess {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #E2F6C5 url(admin/icn_alert_success.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #79C20D;
color: #32510F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;
}

.alert_error {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F3D9D9 url(admin/icn_alert_error.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #D20009;
color: #7B040F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

fieldset {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F6F6F6;
border: 1px solid #ccc;
padding: 1% 0%;
margin: 10px 0;
}

fieldset label {
display: block;
float: left;
width: 200px;
height: 25px;
line-height: 25px;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
padding-left: 10px;
margin: -5px 0 5px 0;
text-transform: uppercase;
}

fieldset input[type=text] {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
height: 20px;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
margin: 0;
display: block;
float: left;
width: 94%;
margin: 0 10px;
}

fieldset input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
width: 96%;
margin: 0 10px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

fieldset textarea {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
margin: 0 0.5%;
display: block;
float: left;
width: 94%;
height: 100px;
margin: 0 10px;
}

fieldset textarea:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}