<div class="3u">
<section id="box1">
<h2>Posts Recentes</h2>
<ul class="style3">
	<% @post_recentes.each do |p| %>
<li class="first">
<p class="date"><%= p.published.strftime("%d de %b - %y ") %></p>
<%= link_to post_path(p) do %>

	<%= p.title %> 
  <% end %>

</li>
<% end %>
</ul>
</section>
</div>
<div class="6u">
<section id="box2">
<h2>Últimas notícias do portal</h2>

<% @posts_rodape.each do |p|  %>
<div class="border-img"> 
	
  <%= textilize p.subtitle %>

 
	

</div>
<% end %>
</section>
</div>
<div class="3u">
<section id="box3">
<h2>Galera no Facebook</h2>

<div id="fb-root"></div>
<div id="fb-root"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like-box" data-href="https://www.facebook.com/pages/Erlon-Carlos/564301506921492" data-width="292" data-show-faces="true" data-stream="false" data-header="true"></div>
</section>
</div>